* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(85, 47, 16, 0.7);
  backdrop-filter: blur(10px);
  z-index: 1000;
}
 /*for mobile view */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: rgba(85, 47, 16, 0.7);
    backdrop-filter: blur(10px);
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}

.logo {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #180202;
}

/* Hamburger icon */
.menu-toggle {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}
body {
  padding-top: 57px;
}

html {
  scroll-behavior: smooth;
}


.hero {
  height: 100vh;
  background: 
    url(img9.jpg) ;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(17, 17, 17);
}

.hero-content h1 {
  font-size: 3rem;
  margin: 20px 0;
}

.hero-content span {
  color: #743603;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #ff6b6b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 15px;
}

.btn:hover {
  background: #ff4c4c;
}

.pet-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 60px 10%;
  background-size: cover;
  background-position: center;
  color: rgb(12, 12, 12);
}


.jerry {
  background:
    linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
    url("img9.jpg");
  background-size: cover;
  background-position: center;
}


.pet-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}


.pet-image img {
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}


.pet-content {
  background: rgba(255, 255, 255, 0.6);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.pet-content h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  margin-left: 20px;
}

.pet-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-left: 20px;
}


@media (max-width: 768px) {
  .pet-container {
    flex-direction: column;
    text-align: center;
  }

  .pet-image img {
    width: 250px;
  }

  .pet-content h2 {
    font-size: 2rem;
  }

  .pet-content p {
    font-size: 1rem;
  }
}

.tom {
  background:
    linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
    url("img9.jpg");
  background-size: cover;
  background-position: center;
}

.reverse {
  flex-direction: row-reverse;
}

.cta {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 20px;

  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)),
    url("paw.jpg");

  background-size: cover;
  background-position: center;
  color: white;
}

.cta-content {
  max-width: 700px;
}

.cta h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.cta p {
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.contact-info {
  margin: 20px 0;
  line-height: 1.8;
  font-size: 1rem;
}

.cta-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 30px;
  background-color: #ff6b6b;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.cta-btn:hover {
  background-color: #ff4c4c;
}

